.markerStyle {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.markerStyle:before {
  content: '';  
  width: 0;  
  height: 0;  
  border: 8px solid transparent;  
  border-top-color: #ddd;  
  position: absolute;  
  left: 50%;  
  bottom: -16px;  
  margin-left: -8px;
}

.markerStyle:after {
  content: '';  
  width: 0;  
  height: 0;  
  border: 7px solid transparent;  
  border-top-color: #fff;  
  position: absolute;  
  left: 50%;  
  bottom: -14px;  
  margin-left: -7px;
}

.row {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  line-height: 2
}

.label {
  font-weight: bold;
  font-size: 18px;
}